@use '../../assets/sass/variables' as *;

*{
    padding: 0;
    margin: 0;
}

.card {
    height: 20rem;
    width: 12rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 1rem;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 0.5rem;
    color: white;
    &__price-change{
        color: green;
    }
    &__price-change-red{
        color: red;
    }
}

.card:hover {
    height: 20rem;
    width: 12rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 1rem;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 0.5rem;
    color: black;
}