@use '../../assets/sass/variables' as *;

*{
    margin: 0;
    padding: 0;
}

.search-bar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    &__input{
        height: 2rem;
        width: 20rem;
        margin: 1rem;
        font-size: 2rem;
    }
}