@use './assets/sass/variables' as *;

*{
  margin: 0;
  padding: 0;
}

.App {
  min-height: 100vh;
  min-width: 95vw;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
